@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

    .auxiliary{
        width: 336px;
        height: 236px;
        border:solid 1px #C4C4C4;
        border-radius: 8.9792px;
    }
    .head-color{
        width: 336px;
        height: 28px;
        background: #FFDC40;
        border-radius: 8px 8px 0px 0px;
    }
    .head{
        width: 198px;
        height: 34px;
        margin-left: 69px;
        margin-top: 13px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }
    .arrow{
        width: 25px;
        height: 15px;
        margin-left: 281px;
        margin-top:10px;
    }
    .input{
        margin-left: 28px;
        margin-top: 11px;
        display: flex;
        flex-direction: row;
    }
    .input-space{
        width: 286px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #C4C4C4;
        outline: none
    }
    .purplex{
        display: none;
    }
    .greyx{
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        margin-left: -52px;
        margin-top:10px;
    }
    .add-button{
        width: 150px;
        height: 42px;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        background: #833AE0;
        margin-left: 92px;
        border-radius: 71px;
    }
    .add{
        width: 150px;
        height: 42px;
        display: flex;
    }
    .add-text{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        border: none;
        background: none;
        color: white;
    }
   .circle{
        width: 42px;
        height: 42px;
        background: #9953F1;
        border-radius: 71px;
    }
    .circle-text{
        width: 42px;
        height: 42px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-left:10px;
        border: none;
        background: none;
    }